<IfModule mod_rewrite.c>
  RewriteEngine On

  # Se la richiesta è per un file che esiste fisicamente, servilo direttamente.
  RewriteCond %{REQUEST_FILENAME} !-f
  
  # Se la richiesta è per una directory che esiste fisicamente, servila direttamente.
  RewriteCond %{REQUEST_FILENAME} !-d

  # Per tutte le altre richieste, passa il controllo a core/index.php.
  RewriteRule . core/index.php [L]
</IfModule>
